@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
    /*background-image: linear-gradient(to left, #40e0d0, );*/
    background: rgb(242, 248, 239);
    background: linear-gradient(90deg,rgb(0, 255, 21) 14%, rgb(255, 0, 0) 100%);
    /* background-color: #070617; */
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%; 
    border-top: 10px solid #00ff37;
    margin-top: 20%;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.wholecontainer {
    background-size: cover;
    text-align: -webkit-center;
}

.container {
    height: auto;
    padding-bottom: 399px;
}

/* Add a black background color to the top navigation */
.topnav {
    height: 50px;
    background-color:blue;
    padding: 15px;
    overflow: hidden;
    font-weight: bold;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .btn {
    display: none;
    /*float: right;*/
    display:block;
    color: #f2f2f2;
    text-align: center;
    justify-content: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    transition: 0.5s;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2.5px rgba(0, 255, 136, 0.979);
    width:20%;
}

.topnav .btn:hover {
    color: red;
    font-size: large;
    font-weight: 600;
}

/* When the screen is less than 600 pixels wide */
@media screen and (max-width: 600px) {
    .topnav a.btn {
        color: #f2f2f2;
        float: right;
        display: block;
    }

    .container {
        height: 205vh;
        text-align: -webkit-center;
    }
}

.instruction {
    top: 70%;
    width: 50%;
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid black;
    margin: 20% auto 0;
    background: linear-gradient(045deg, rgba(12, 11, 11, 0.555), rgba(57, 57, 59, 0.555));
    color:red;
}
.instruction :hover{
  top: 70%;
  width: 50%;
  border-radius: 10px;
  padding: 15px;
  background-color: rgb(182, 127, 255);
   
}
